[Desktop Entry]
Name=gFTP
Comment=Download and upload files using multiple file transfer protocols
Comment[af]=Laai lêers op en af met behulp van menigvuldige lêeroordrag protokolle (FTP)
Comment[sq]=Shkarko dhe ngarko disa skedarë njëherazi
Comment[be]=Спампоўка і запампоўка файлаў з выкарыстаньнем многіх пратаколаў перадачы даньняў
Comment[ast]=Descarga y carga ficheros usando múltiples protocolos de tresferencia de ficheros
Comment[bn]=একাধিক ফাইল স্থানান্তরিত প্রোটোকল ব্যবহার করে ফাইল আপলোড এবং ডাউনলোড করুন
Comment[bs]=Preuzimajte i šaljte datoteke uz upotrebu više protokola za prenos datoteka
Comment[pt_BR]=Baixe e envie arquivos utilizando múltiplos protocolos de transferência de arquivo
Comment[bg]=Сваляне и качване чрез използване на множество протоколи за файлов трансфер
Comment[ca]=Baixeu i pugeu fitxers a través de múltiples protocols
Comment[ca@valencia]=Baixeu i pugeu fitxers a través de múltiples protocols
Comment[zh_HK]=以多種檔案傳輸協定來上傳/下載檔案
Comment[zh_TW]=以多種檔案傳輸協定來上傳/下載檔案
Comment[crh]=Çoklu dosya taşıma protokolü kullanarak dosyaları indirin ve yükleyin
Comment[zh_CN]=通过多种文件传输协议下载和上传文件
Comment[cs]=Stahování a odesílání souborů s využitím několika přenosových protokolů
Comment[da]=Hent og læg filer op med forskellige filoverførselsprotokoller
Comment[nl]=Download en upload bestanden door meerdere file-transfer-protocol-sessies tegelijkertijd te gebruiken
Comment[fi]=Nouda ja lähetä tiedostoja monilla eri tiedostonsiirron yhteyskäytännöllä
Comment[fr_CA]=Télécharger ou téléverser des fichiers en utilisant divers protocoles de transfert de fichiers
Comment[gl]=Descargue e envíe ficheiros empregando varios protocolos de transferencia de ficheiros
Comment[de]=Dateien mit verschiedenen Dateitransferprotokollen herunter- und hochladen
Comment[el]=Λήψη και αποστολή αρχείων μέσω διαφόρων πρωτοκόλλων μεταφοράς αρχείων
Comment[hu]=Fájlok le- és feltöltése több fájlátviteli protokoll használatával
Comment[it]=Scarica e carica file attraverso diversi protocolli di trasferimento file
Comment[ja]=様々なプロトコルに対応したファイル送受信プログラム
Comment[ky]=Көптөгөн берилиштерди өткөрүүчү протоколдор аркылуу файлдарды жүктөп алуу жана жөнөтүү
Comment[ms]=Muat turun dan muat naik fail menggunakan protokol pemindahan fail berbilang
Comment[nb]=Last filer opp eller ned med ulike overføringsprotokoller
Comment[oc]=Telecargar o mandar de fichièrs en utilizant divèrs protocòls de transferiment
Comment[pl]=Pobieranie i wysyłanie plików, przy pomocy wielu protokołów
Comment[pt]=Descarregue e carregue ficheiros usando múltiplos protocolos de transferência
Comment[ro]=Descărcați sau încărcați fișiere utilizând diverse protocoale de transfer
Comment[sl]=Prejemajte in pošiljajte datoteke z uporabo več protokolov za prenos datotek
Comment[ru]=Скачивание и отправка файлов с использованием многих протоколов передачи данных
Comment[sv]=Hämta och skicka filer med flera filöverföringsprotokoll
Comment[es]=Descargue y cargue archivos usando varios protocolos de transferencia de archivos
Comment[tr]=Çoklu dosya taşıma protokolü kullanarak dosyaları indirin ve yükleyin
Comment[uk]=Завантаження і передача файлів з використанням різних протоколів передачі файлів
Comment[vi]=Tải xuống và gửi tập tin lên dùng giao thức truyền tải tập tin
Comment[fr]=Télécharge des fichiers en utilisant le protocole FTP
Exec=gftp %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=gftp
Categories=Application;Network;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gftp
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=2.0.19
