[Desktop Entry]
Name=VirtualBox
Comment=Run several virtual systems on a single host computer
Comment[de]=Verschiedene virtuelle Systeme auf einem Hostrechner laufen lassen
Comment[it]=Esegue diversi sistemi virtuali su un singolo computer
Comment[pl]=Uruchamianie wielu systemów wirtualnych na jednym komputerze gospodarza
Comment[sv]=Kör flera virtuella system på en enda värddator
Comment[ko]=단일 호스트 컴퓨터에 여러 개의 가상 시스템 실행
Comment[ru]=Управление несколькими виртуальными системами на одном главном компьютере
Comment[af]=Loop verskeie virtuele stelsels op 'n enkele gasheerrekenaar
Comment[sq]=Nis dis sisteme në një kompjuter të vetëm mbartës
Comment[ast]=Execute varios sistemes virtuales nun sólu equipu anfitrión
Comment[bn]=একটি একক হোস্ট কম্পিউটারে একাধিক ভার্চুয়াল সিস্টেম চালান
Comment[bg]=Изпълнение на няколко виртуални системи на един компютър
Comment[bs]=Pokrenite više virtuelnih sistema na jednom domaćinskom računaru
Comment[pt_BR]=Execute vários sistemas virtuais em um único computador hospedeiro
Comment[ca]=Executeu diversos sistemes virtuals en un únic ordinador hoste
Comment[ca@valencia]=Executeu diversos sistemes virtuals en un únic ordinador hoste
Comment[zh_HK]=於單一主機電腦執行多個虛擬機器
Comment[zh_CN]=在一个主机上运行多个虚拟系统
Comment[zh_TW]=於單一主機電腦執行多個虛擬機器
Comment[crh]=Tek bir bilgisayar üzerinde birden fazla sanal işletim sistemi çalıştırın
Comment[cs]=Spouštění různých virtuálních systémů na hostitelském počítači
Comment[da]=Kør flere virtuelle maskiner på en enkelt computer
Comment[fi]=Suorita useita virtuaalisia järjestelmiä yhdellä isäntäkoneella
Comment[et]=Käivita mitmeid virtuaalseid süsteeme ühel peaarvutil
Comment[nl]=Draai verschillende virtuele systemen op één enkele hostcomputer
Comment[gl]=Execute varios sistemas virtuais nun único computador
Comment[fr]=Exécuter plusieurs systèmes virtuels sur le même ordinateur hôte
Comment[el]=Χρήση πολλαπλών εικονικών συστημάτων από έναν υπολογιστή
Comment[hu]=Több virtuális rendszer futtatása egy számítógépen
Comment[ky]=Бир негизги компьютерде бир нече виртуалдык тутумдарды жүргүзүү
Comment[ja]=一つのホストコンピューター上で複数の仮想システムを走らせます
Comment[lt]=Leiskite kelias virtualias sistemas viename kompiuteryje
Comment[ms]=Jalankan beberapa sistem maya dalam satu komputer hos
Comment[oc]=Executar mantun sistèma virtuals sul meteis ordenador òste
Comment[nb]=Kjør opptil flere virtuelle systemer på én vertsmaskin
Comment[pt]=Corra diversos sistemas virtuais num único computador
Comment[ro]=Rulați mai multe sisteme virtuale pe calculatorul gazdă
Comment[sl]=Zagon več navideznih sistemov na enem gostiteljskem računalniku
Comment[es]=Ejecute varios sistemas virtuales en un sólo equipo anfitrión
Comment[vi]=Chạy nhiều hệ thống ảo trên một máy chủ đơn
Comment[uk]=Запуск декількох віртуальних систем на одному базовому комп'ютері
Comment[tr]=Tek bir bilgisayar üzerinde birden fazla sanal işletim sistemi çalıştırın
Exec=VirtualBox %U
Icon=virtualbox
Type=Application
Terminal=false
Categories=X-MandrivaLinux-MoreApplications-Emulators;Emulator;
MimeType=application/x-virtualbox-vbox;application/x-virtualbox-vbox-extpack;application/x-virtualbox-ovf;application/x-virtualbox-ova;
