[Desktop Entry]
Name=Gdb
GenericName=The GNU debugger
GenericName[ru]=Отладчик GNU
Comment=The GNU project debugger
Comment[ru]=GNU отладчик проектов
Exec=gdb --tui
Icon=development_section
Terminal=true
Type=Application
Categories=Development;Debugger;ConsoleOnly;
