[Desktop Entry]
Name=KompoZer
GenericName=Web Authoring System
GenericName[bg]=Система за създаване на уеб страници
GenericName[cs]=Autorský webový systém
GenericName[da]=Webudviklingssystem
GenericName[de]=Web-Gestaltungssystem
GenericName[el]=Σύστημα δημιουργίας διαδικτυακού περιεχομένου
GenericName[es]=Sistema de autoría web
GenericName[fi]=Verkkosivujen teko-ohjelma
GenericName[fr]=Système de création de contenu Web
GenericName[hu]=Weboldal szerkesztő
GenericName[it]=Sistema di Authoring Web
GenericName[ja]=Web オーサリングシステム
GenericName[ko]=웹 오서링 시스템
GenericName[lt]=Saityno autorizavimo sistema
GenericName[nb]=Webdesignsystem
GenericName[nl]=Webverificatiesysteem
GenericName[pl]=Wizualny edytor stron WWW
GenericName[pt]=Sistema de Autoria Web
GenericName[pt_BR]=Sistema de autoração da Web
GenericName[ro]=Sistem de autorizare web
GenericName[ru]=Система создания веб-страниц
GenericName[sk]=Web Authoring systém
GenericName[tr]=Web Yazarlık Sistemi
GenericName[uk]=Система веб-розробки
GenericName[wa]=Sistinme d' askepiaedje di waibes
GenericName[zh_CN]=网络创作系统
GenericName[zh_TW]=網頁管理系統
Comment=Create Web Pages
Comment[es]=Crea páginas web
Comment[it]=Creare pagine Web
Comment[fr]=Créer des pages Web
Comment[af]=Skep webblaaie
Comment[sq]=Krijo Faqe Interneti
Comment[be]=Стварэньне вэб-старонак
Comment[ast]=Facer páxines web
Comment[bn]=ওয়েব পৃষ্ঠা তৈরি করুন
Comment[bs]=Kreirajte web stranice
Comment[pt_BR]=Crie páginas web
Comment[ca@valencia]=Creeu pàgines web
Comment[ca]=Creeu pàgines web
Comment[bg]=Създаване на уеб страници
Comment[zh_HK]=建立網頁
Comment[zh_CN]=创建网页
Comment[zh_TW]=建立網頁
Comment[crh]=Web sayfaları Oluştur
Comment[nl]=Webpagina's ontwerpen
Comment[da]=Opret websider
Comment[cs]=Tvorba webových stránek
Comment[fi]=Luo WWW-sivuja
Comment[gl]=Cree páxinas web
Comment[de]=Webseiten erstellen
Comment[el]=Δημιουργήστε ιστοσελίδες
Comment[is]=Búa til vefsíður
Comment[hu]=Weboldalak készítése
Comment[ky]=Веб - баракчаларын түзүү
Comment[ms]=Cipta Laman Sesawang
Comment[lt]=Kurkite tinklalapius
Comment[nb]=Opprett websider
Comment[oc]=Crear de paginas Web
Comment[pl]=Doskonały program typu WYSIWYG do szybkiego tworzenia, publikowania i aktualizacji stron internetowych
Comment[pt]=Crie páginas Web
Comment[ro]=Creați pagini web
Comment[sl]=Ustvarjajte spletne strani
Comment[ru]=Создание веб-страниц
Comment[sv]=Skapa webbplatser
Comment[vi]=Tạo trang web
Comment[uk]=Створення веб-сторінок
Comment[tr]=Web sayfaları Oluştur
Exec=kompozer 
Icon=/usr/lib/kompozer/icons/mozicon50.xpm
Terminal=false
MimeType=text/html;text/xml;text/css;text/x-javascript;text/javascript;application/x-php;text/x-php;application/xhtml+xml;
Type=Application
Categories=GTK;Development;WebDevelopment;X-Mageia-CrossDesktop;
